In [1]:
import numpy as np
import pandas as pd

In [25]:
docA = 'The cat sat on my bed'
docB = 'The dog sat on my knees'

bowA = docA.split(' ')
bowB = docB.split(' ')

# ÊûÑÂª∫ËØçÂ∫ì
wordSet = set(bowA).union(set(bowB))
wordSet

{'The', 'bed', 'cat', 'dog', 'knees', 'my', 'on', 'sat'}

In [15]:
# ÁªüËÆ°Â≠óÂÖ∏‰øùÂ≠òËØçÂá∫Áé∞ÁöÑÊ¨°Êï∞
wordDictA = dict.fromkeys(wordSet,0)
wordDictB = dict.fromkeys(wordSet,0)

for word in bowA:
    wordDictA[word] += 1
for word in bowB:
    wordDictB[word] += 1
    
df = pd.DataFrame([wordDictA, wordDictB])
df

   knees  cat  my  sat  The  on  bed  dog
0      0    1   1    1    1   1    1    0
1      1    0   1    1    1   1    0    1

In [17]:
## ËÆ°ÁÆóËØçÈ¢ëTF
def computeTF(wordDict, bow):
    tfDict = {}
    nbowCount = len(bow)
    for word, cnt in wordDict.items():
        tfDict[word] = cnt / nbowCount
    return tfDict

tfA = computeTF(wordDictA, bowA)
tfB = computeTF(wordDictB, bowB)
tfA

{'knees': 0.0,
 'cat': 0.16666666666666666,
 'my': 0.16666666666666666,
 'sat': 0.16666666666666666,
 'The': 0.16666666666666666,
 'on': 0.16666666666666666,
 'bed': 0.16666666666666666,
 'dog': 0.0}

{'knees': 0.6020599913279624,
 'cat': 0.6020599913279624,
 'my': 0.5440680443502757,
 'sat': 0.5440680443502757,
 'The': 0.5440680443502757,
 'on': 0.5440680443502757,
 'bed': 0.6020599913279624,
 'dog': 0.6020599913279624}

In [31]:
import math
## ËÆ°ÁÆóÈÄÜÊñáÊ°£È¢ëÁéáidf
# ùêºùê∑ùêπùëñ = log(ùëÅ + 1 / ùëÅùëñ + 1)
def computeIDF(wordDictList):
    idfDict = dict.fromkeys(wordDictList[0], 0)
    N = len(wordDictList)
    for wordDict in wordDictList:
        for word, cnt in wordDict.items():
            if cnt > 0:
                idfDict[word] += 1
    for word, cnt in idfDict.items():
        idfDict[word] = math.log10( (N + 1) / (cnt + 1))
    return idfDict
idfs = computeIDF([wordDictA, wordDictB])
idfs

{'knees': 0.17609125905568124,
 'cat': 0.17609125905568124,
 'my': 0.0,
 'sat': 0.0,
 'The': 0.0,
 'on': 0.0,
 'bed': 0.17609125905568124,
 'dog': 0.17609125905568124}

In [34]:
## ËÆ°ÁÆóTF-IDF
def computeTFIDF(tf, idf):
    tfidfs = {}
    for word, tf_val in tf.items():
        tfidfs[word] = tf_val * idf[word]
    return tfidfs
tfidf_a = computeTFIDF(tfA, idfs)
tfidf_b = computeTFIDF(tfA, idfs)
pd.DataFrame([tfidf_a, tfidf_b])

   knees       cat   my  sat  The   on       bed  dog
0    0.0  0.029349  0.0  0.0  0.0  0.0  0.029349  0.0
1    0.0  0.029349  0.0  0.0  0.0  0.0  0.029349  0.0